<div class="flex justify-end top-4 right-4 md:hidden z-50 fixed">
  <img
    *ngIf="isNavbarHidden"
    src="https://github.com/ryan-hasty/rhastydev/blob/7b7010fb2d8cb4281d2ca2171f738fdda61d1449/public/assets/hamburger-menu.svg"
    alt="open menu button"
    class="md:hidden"
    (click)="toggleIsNavbarHidden()"
  />
  <img
    *ngIf="!isNavbarHidden"
    src="https://github.com/ryan-hasty/rhastydev/blob/7b7010fb2d8cb4281d2ca2171f738fdda61d1449/public/assets/close.svg"
    alt="close menu button"
    class="md:hidden"
    (click)="toggleIsNavbarHidden()"
  />
</div>


<!-- fixed is the navigation issue***-->
<div
  class="fixed top-0 left-0 h-full w-full bg-[#F3E9DC] transition-transform transform duration-300 md:hidden z-40"
  [ngClass]="{'translate-x-0': !isNavbarHidden, 'translate-x-full': isNavbarHidden}">
  <div class="flex flex-col justify-between h-full p-6">
    <ul class="list-none text-[#52414C] text-3xl sm:text-4xl lg:text-5xl flex flex-col gap-6 md:gap-10 roboto-mono">
      <li
        *ngFor="let item of navItems"
        [ngClass]="{'text-[#EF8A17]': isActiveRoute(item.route)}">
        <a
          [routerLink]="item.route"
          class="transition-all duration-300 hover:text-[#EF8A17]">
          {{ item.label }}
        </a>
      </li>
    </ul>
    <app-quotes></app-quotes>
    <app-hasty-creations/>
  </div>
</div>

<div class="hidden md:flex flex-col lg:flex-row justify-between mb-20 xl:mb-0">
  <div class="flex justify-between mb-20 xl:mb-20">
    <ul class="list-none text-[#52414C] text-3xl sm:text-4xl lg:text-5xl flex flex-col gap-6 md:gap-10 roboto-mono">
      <li
        *ngFor="let item of navItems"
        [ngClass]="{'text-[#EF8A17]': isActiveRoute(item.route)}">
        <a
          [routerLink]="item.route"
          class="transition-all duration-300 hover:text-[#EF8A17]">
          {{ item.label }}
        </a>
      </li>
    </ul>
  </div>
  <app-quotes/>
</div>
