<div class="flex xl:flex-row justify-between mb-20 xl:mb-52">
  <ul class="list-none text-[#52414C] text-3xl sm:text-4xl lg:text-5xl flex flex-col gap-6 md:gap-10 roboto-mono">
    <li *ngFor="let item of navItems" [ngClass]="{'text-[#EF8A17]': isActiveRoute(item.route)}">
      <a [routerLink]="item.route" class="transition-all duration-300 hover:text-[#EF8A17]">
        {{ item.label }}
      </a>
    </li>
  </ul>
</div>




<!--<div class="flex flex-col gap-16 roboto-mono text-xl md:text-2xl lg:text-3xl text-[#52414C] max-w-2xl">

  &lt;!&ndash; Smart quote &ndash;&gt;
  <div>
    <div class="flex flex-col gap-3">
      {{smartQuotesList[0].quote}}
      <div class="self-end mr-12 mt-5"> {{smartQuotesList[0].author}}</div>
    </div>
  </div>

  &lt;!&ndash; Dumb quote &ndash;&gt;
  <div>
    <div class="flex flex-col gap-3">
      {{ryanQuotesList[0].quote}}
      <div class="self-end mr-12 mt-5"> {{ryanQuotesList[0].author}}</div>
    </div>
  </div>
</div>-->
