<app-header/>

<div class="text-3xl md:text-5xl uppercase mt-32 md:mt-20 flex flex-col gap-5 text-[#EF8A17] mb-20 mr-10">
  Dillards inc.
  <div class="text-2xl md:text-4xl text-[#52414C]">
    Back-end Developer
  </div>
  <div class="text-xl md:text-3xl text-[#52414C]">
    June 2023 - Current
  </div>
  <div class="text-lg md:text-2xl text-[#52414C] flex-col sm:flex-row gap-20">
    <div class="mb-5">
      Manage the full lifecycle of tasks, from reviewing business requirements on cards
      created by the BA to researching, implementing, and testing the code for deployment
    </div>
    <div class="mb-5">
      Implement complex business logic and ensure code functionality aligns with requirements before shipping.
    </div>
    <div class="mb-5">
      Work with GitLab pipelines to ensure successful deployment to Red Hat OpenShift, handling any deployment-related challenges.
    </div>
    <div class="mb-5">
      Independently manage user application issues, debugging and resolving them to ensure smooth user
      experience, as the sole person handling these tasks on the team
    </div>
  </div>
</div>

<div class="mb-32">
  <div class="uppercase text-3xl md:text-5xl text-[#EF8A17]">
    side projects
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 mt-14 gap-20 text-[#52414C] roboto-mono place-items-start">
    <div class="relative w-full h-[300px]">
      <a href="https://allstar-nu.vercel.app/home" target="_blank">
        <img src="/assets/allstar-web.png" alt="allstar roofing and fencing website image" class="border-4 border-[#EF8A17] object-cover w-full h-full">
      </a>
      <div class="flex uppercase justify-center text-xl md:text-3xl">
        <div class="text-center mt-4">
          Allstar Roofing & Fencing
        </div>
      </div>
    </div>

    <div class="relative w-full h-[300px]">
      <a href="#" target="_blank">
        <img src="/assets/pawpular-hold.png" alt="Pawpular Pet Care Website Image" class="border-4 border-[#EF8A17] object-cover w-full h-full">
      </a>
      <div class="flex uppercase justify-center text-xl md:text-3xl">
        <div class="text-center mt-4">
          Pawpular Pet Care
        </div>
      </div>
    </div>

    <div class="relative w-full h-[300px]">
      <a href="#" target="_blank">
        <img src="/assets/allstar-web.png" alt="allstar roofing and fencing website image" class="border-4 border-[#EF8A17] object-cover w-full h-full">
      </a>
      <div class="flex uppercase justify-center text-xl md:text-3xl">
        <div class="text-center mt-4">
          Placeholder Website Name
        </div>
      </div>
    </div>

  </div>
</div>


<app-hasty-creations class="hidden md:block"/>
