<app-header/>
<div class="text-3xl md:text-5xl uppercase mt-20 flex flex-col gap-5 text-[#EF8A17] mb-28">
  University of Central Arkansas
  <div class="text-2xl md:text-4xl text-[#52414C]">
    B.S. Computer Science - Data Science Concentration
  </div>
  <div class="text-xl md:text-3xl text-[#52414C]">
    Minor in Mathematics
  </div>
  <div class="text-lg md:text-2xl text-[#52414C] flex-col sm:flex-row gap-20">
    <div>
      Graduation Date: December 2023
    </div>
    <div>
      Major GPA: 3.4
    </div>
    <div>
      Institutional GPA: 3.26
    </div>
  </div>

  <div class="mt-20">
    Arkansas State University of Beebe
  </div>
  <div class="text-2xl md:text-3xl text-[#52414C]">
    Associate of Arts
  </div>
  <div class="text-lg md:text-2xl text-[#52414C] flex-col sm:flex-row gap-20">
    <div>
      Graduation Date: December 2013
    </div>
    <div>
      Institutional GPA: 3.25
    </div>
  </div>
</div>
